h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-text-color;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: $primary-font;
}
li {
  list-style-type: none;
}
